<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="ICBot-2.0 Test Suite">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="BOT_NAME" value="TestBot" />
        <env name="TELEGRAM_TOKEN" value="TEST_TELEGRAM_TOKEN" />
    </php>
</phpunit>
